*{
    margin: 0;
    padding: ;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}